<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"
</head>
<body>
<header>
<div class="container">
<h1 class="logo">This is the introductory page to appear on the website. It will contain the logo ,etc.</h1>
<strong><nav>
<ul class="menu">
  <li><a href="{{url_for('home')}}">HOME</a></li>
 <li><a href="{{url_for('brochure')}}">ADD WALLET</a></li>

</ul>
</nav></strong>
</div>
<div class="container">
  <h1>Proceed towards Payment</h1>
  <br><br><br><br><br><br><br>
  <p>Enter your prefered mode of payment<p><br>
    <form action="wallet" method="POST">
      <button type="submit">Wallet</button>
    </form>
    <br><br>
    <form action="bank" method="POST">
      <button type="submit">Credit card/Debit card</button>
    </form>
</body>
</div>
</header>
  </html>
